/workspace1.X/build/
/workspace1.X/dist/
/workspace2.X/build/
/workspace2.X/dist/
/lib1.X/dist/
/lib1.X/build/
/libTest.X/build/
/libTest.X/dist/
/divider.X/build/
/divider.X/dist/
/basicio1.X/build/
/basicio1.X/dist/
/basicio.X/build/
/basicio.X/dist/
/interrupt.X/dist/
/interrupt.X/build/
/timer.X/build/
/timer.X/dist/
/motor.X/build/
/motor.X/dist/
/ADC.X/build/
/ADC.X/dist/
/finalproject.X/build/
/finalproject.X/dist/